body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #007acc;
  color: white;
}

p {
  font-size: 16px;
}

#visualization-selector {
  text-align: center;
  margin: 10px 0;
}

#visualization-selector label {
  font-weight: bold;
}

#visualization-selector select {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#controls, #orbital-controls {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

button {
  margin: 0 10px;
  padding: 5px;
  background-color: #007acc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #005f99;
}

input[type="checkbox"] {
  margin-left: 10px;
}

label {
  margin-right: 5px;
}

#three-body-controls {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

/* Style for the energy landscape controls */
#energy-landscape-controls {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}